<?xml version="1.0"?>
<config>
  <modules>
    <WTC_Stores>
      <version>0.1.0</version>
    </WTC_Stores>
  </modules>
  <frontend>
    <routers>
      <stores>
        <use>standard</use>
          <args>
            <module>WTC_Stores</module>
            <frontName>stores</frontName>
          </args>
      </stores>
    </routers>
		<layout>
		  <updates>
			<stores>
			  <file>stores.xml</file>
			</stores>
		  </updates>
		</layout>
  </frontend>
  <global>
	<models>
            <stores>
                <class>WTC_Stores_Model</class>
                <resourceModel>stores_mysql4</resourceModel>
            </stores>
            <stores_mysql4>
                <class>WTC_Stores_Model_Mysql4</class>
                <entities>
                    <stores>
                        <table>ml_city_stores</table>
                    </stores>
                </entities>
            </stores_mysql4>
        </models>
    <helpers>
      <stores>
        <class>WTC_Stores_Helper</class>
      </stores>
    </helpers>
	<blocks>
	  <stores>
		<class>WTC_Stores_Block</class>
	  </stores>
	</blocks>
	<resources>
	  <stores_setup>
		<setup>
		  <module>WTC_Stores</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </stores_setup>
	  <stores_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </stores_write>
	  <stores_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </stores_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <stores>
	    <use>admin</use>
		<args>
		  <module>WTC_Stores</module>
		  <frontName>stores</frontName>
		</args>
	  </stores>
	</routers>
  </admin>
    <adminhtml>
	<menu>
	  <stores module="stores">
		<title>Manage Stores Address</title>
		<sort_order>74</sort_order>
		<action>stores/adminhtml_address</action>
	  </stores>
	</menu>
	<acl>
		<resources>
			<all>
				<title>Allow Everything</title>
			</all>
			<admin>
				<children>
					<stores>
						<title>Manage Stores Address</title>
						<sort_order>10</sort_order>
					</stores>
				</children>
			</admin>
		</resources>
	</acl>
	<layout>
	  <updates>
		<stores>
		  <file>stores.xml</file>
		</stores>
	  </updates>
	</layout>
  </adminhtml>
</config> 